@model EntityFrameworkExample.Models.Product

@{
    ViewBag.Title = "AddProduct";
}

<h2>AddProduct</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Stock, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stock, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Supplier Name</label>
            <div class="col-md-10">
                

               @*@Html.DropDownList("Supplier", ViewData["Supplier"] as IEnumerable<SelectListItem>)*@



                @*@Html.DropDownList("SupplierId", (IEnumerable<SelectListItem>)ViewBag.Supplier, new { @class = "form-control" })*@
              
            </div>
        </div>

        <div class="form-group">
           <label class = "control-label col-md-2">Category Name</label>
            <div class="col-md-10 ">
                @*@Html.DropDownList("Category", (List<SelectListItem>)ViewBag.Category)*@
                @*@Html.DropDownList("Category", ViewData["Category"] as IEnumerable<SelectListItem>)*@


       
             @Html.DropDownList("CategoryId", new SelectList(@ViewBag.Category, "Id", "CategoryName"))





   @*@Html.DropDownList("CategoryId", (IEnumerable<SelectListItem>)ViewBag.Category, new { @class = "form-control" })*@


                @Html.ValidationMessageFor(model => model.CategoryId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
