@model IEnumerable<EntityFrameworkExample.Models.Category>

@{
    ViewBag.Title = "ShowCategory";
}

<h2>ShowCategory</h2>

<a href="@Url.Action("AddCategory","Home")" class="btn btn-primary">Create New</a>

<table class="table col-md-6">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
       
    </tr>
}

</table>
